@keyframes neave-anim {
  to {
    background-position: 0 400%;
  }
}
@keyframes fade-anim {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-mid-anim {
  0% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}
@-webkit-keyframes border-blink {
  50% {
    border-color: #000;
  }
}
@-moz-keyframes border-blink {
  50% {
    border-color: #000;
  }
}
@keyframes border-blink {
  50% {
    border-color: #000;
  }
}
@-webkit-keyframes blink {
  50% {
    visibility: hidden;
  }
}
@-moz-keyframes blink {
  50% {
    visibility: hidden;
  }
}
@keyframes blink {
  50% {
    visibility: hidden;
  }
}
@-webkit-keyframes appear {
  from {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes appear {
  from {
    -moz-transform: scale(0.3);
    transform: scale(0.3);
  }
  to {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes appear {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
  }
}

.square{
	border-style: none;
	&:nth-child(2){
		border-left-style: solid;
		border-right-style: solid;
	}
	&:nth-child(4){
		border-bottom-style: solid;
		border-top-style: solid;
	}
	&:nth-child(5){
		border-bottom-style: solid;
		border-top-style: solid;
		border-left-style: solid;
		border-right-style: solid;
	}
	&:nth-child(6){
		border-bottom-style: solid;
		border-top-style: solid;
	}
	&:nth-child(8){
		border-left-style: solid;
		border-right-style: solid;
	}
}

.current-turn{
	text-align: center;
	padding-top: 30px;
	font: 24px "Raleway", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  margin-left: -300px;
  margin-top: -370px;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
.alt {
  display: none;
}
.error {
  text-align: center;
  padding: 40px 20px;
  line-height: 1.5;
  a {
    color: #fff;
    text-decoration: underline;
  }
}
.board {
  width: 100%;
  height: 100%;
  .square {
    >div {
      -webkit-transition: opacity 0.1s;
      -moz-transition: opacity 0.1s;
      transition: opacity 0.1s;
    }
  }
  &.win{
    .square {
      border-color: rgba(255, 255, 255, 0.2);
      &[data-is-nonfaded="true"]{
        .x,.o{
          opacity: 0.5;
        }
      }
      .x,.o{
        opacity: 0.2;
      }
    }
  }
  &.tie{
    opacity: 0.1;
  }
}
.square {
  float: left;
  width: 33.333333333%;
  height: 33.333333333%;
  border-width: 5px;
  border-color: rgba(255, 255, 255, 1);
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  transition: background-color 0.1s;
  will-change: background-color, border-color;
  cursor: pointer;
  &:focus {
    outline: 0;
    background-color: #333;
  }
  .x {
    position: relative;
    will-change: transform;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation: appear 0.2s cubic-bezier(0.5, 1.8, 0.1, 1.1);
    -moz-animation: appear 0.2s cubic-bezier(0.5, 1.8, 0.1, 1.1);
    animation: appear 0.2s cubic-bezier(0.5, 1.8, 0.1, 1.1);
  }
  .o {
    position: relative;
    will-change: transform;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation: appear 0.2s cubic-bezier(0.5, 1.8, 0.1, 1.1);
    -moz-animation: appear 0.2s cubic-bezier(0.5, 1.8, 0.1, 1.1);
    animation: appear 0.2s cubic-bezier(0.5, 1.8, 0.1, 1.1);
  }
}

.o {
  left: 16.666666667%;
  top: 16.666666667%;
  width: 66.666666667%;
  height: 66.666666667%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 20px solid #fff;
}
.x {
  width: 100%;
  height: 100%;
  &:before {
    position: absolute;
    content: "";
    display: block;
    background-color: #fff;
    left: 90px;
    top: 20px;
    width: 20px;
    height: 160px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &:after {
    position: absolute;
    content: "";
    display: block;
    background-color: #fff;
    left: 90px;
    top: 20px;
    width: 20px;
    height: 160px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
.restart {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  &.show{
    display: grid;
  }
  &.hide{
    display: none;
  }
  p{
    font-size: 24px;
  }
}
.scores {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 600px;
  margin-left: -300px;
  margin-top: 280px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  p {
    font: 20px "Raleway", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
    display: inline-block;
    margin: 0;
    padding: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .swap {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    margin: -5px -30px 0 0;
    opacity: 0.1;
    cursor: pointer;
    outline: 0;
    -webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    transition: opacity 0.1s;
  }
  .score {
    font-size: 50px;
    display: block;
    height: 60px;
    padding: 10px 0 0;
    will-change: transform;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .score.appear {
    -webkit-animation: appear 0.3s cubic-bezier(0.5, 4, 0.1, 1.1);
    -moz-animation: appear 0.3s cubic-bezier(0.5, 4, 0.1, 1.1);
    animation: appear 0.3s cubic-bezier(0.5, 4, 0.1, 1.1);
  }
  .o {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-width: 2px;
    margin: 1px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .x {
    display: inline-block;
    width: 17px;
    height: 17px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    &:before {
      left: 0;
      top: 2px;
      margin-left: 7px;
      width: 2px;
      height: 17px;
    }
    &:after {
      left: 0;
      top: 2px;
      margin-left: 7px;
      width: 2px;
      height: 17px;
    }
  }
  .turn {
    opacity: 0.5;
  }
}
.player1 {
  width: 230px;
  white-space: nowrap;
}
.player2 {
  width: 230px;
  white-space: nowrap;
}
.scores.p1 {
  .p2 {
    display: none;
  }
}
.scores.p2 {
  .p1 {
    display: none;
  }
}


// Continue Button CSS
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  border: 2px solid #fff;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
