<div>
  <div class="game">
    <div class="board">
      <div (click)="handleClick($event.target)" class="square top left" data-index="0">
        <div [ngClass]="click[0] == 'x' ? 'x' : '' || click[0] == 'o' ? 'o' : ''"></div>
      </div>
      <div (click)="handleClick($event.target)" class="square top" data-index="1">
        <div [ngClass]="click[1] == 'x' ? 'x' : '' || click[1] == 'o' ? 'o' : ''"></div>
      </div>
      <div (click)="handleClick($event.target)" class="square top right" data-index="2">
        <div [ngClass]="click[2] == 'x' ? 'x' : '' || click[2] == 'o' ? 'o' : ''"></div>
      </div>
      <div (click)="handleClick($event.target)" class="square left" data-index="3">
        <div [ngClass]="click[3] == 'x' ? 'x' : '' || click[3] == 'o' ? 'o' : ''"></div>
      </div>
      <div (click)="handleClick($event.target)" class="square" data-index="4">
        <div [ngClass]="click[4] == 'x' ? 'x' : '' || click[4] == 'o' ? 'o' : ''"></div>
      </div>
      <div (click)="handleClick($event.target)" class="square right" data-index="5">
        <div [ngClass]="click[5] == 'x' ? 'x' : '' || click[5] == 'o' ? 'o' : ''"></div>
      </div>
      <div (click)="handleClick($event.target)" class="square bottom left" data-index="6">
        <div [ngClass]="click[6] == 'x' ? 'x' : '' || click[6] == 'o' ? 'o' : ''"></div>
      </div>
      <div (click)="handleClick($event.target)" class="square bottom" data-index="7">
        <div [ngClass]="click[7] == 'x' ? 'x' : '' || click[7] == 'o' ? 'o' : ''"></div>
      </div>
      <div (click)="handleClick($event.target)" class="square bottom right" data-index="8">
        <div [ngClass]="click[8] == 'x' ? 'x' : '' || click[8] == 'o' ? 'o' : ''"></div>
      </div>
    </div>
    <!-- <div class="restart"></div> -->
  </div>
  <div class="scores p1">
    <p class="player1"><span class="p1">Player 1 </span>(<span class="x"></span>)<span class="score">0</span></p>
    <p class="ties">Tie<span class="score">0</span></p>
    <p class="player2"><span class="p1">Player 2 </span>(<span class="o"></span>)<span class="score">0</span></p>
  </div>
</div>
