.game-container{
  // display: grid;
  // align-content: center;
  // justify-content: center;
  // grid-template-columns: repeat(12, minmax(0, 1fr));
  // height: 100vh;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin: 15px;
  .meta-container{
    margin: 0 auto;
    width: 100%;
    max-width: 37.5rem;
    user-select: none;
    position: relative;
  }
}

.game{
  // grid-column-start: 4;
  // grid-column-end: 10;

  margin: 0 auto;
  width: 100%;
  max-width: 37.5rem;
  max-height: 37.5rem;
  user-select: none;
  position: relative;
  .tic-tac-toe-board{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    width: 100%;
    align-items: center;
    margin-bottom: 1.5rem;
    .square{
      max-width: 12.5rem;
      max-height: 12.5rem;
      aspect-ratio: 1 / 1;
      transition: background-color 0.1s;
      will-change: background-color, border-color;
      border: 5px rgba(255, 255, 255, 1);
      cursor: pointer;
      &:focus {
        outline: 0;
        background-color: #333;
      }
      &:nth-child(1),&:nth-child(4){
        border-bottom-style: solid;
      }
      &:nth-child(2),&:nth-child(5){
        border-bottom-style: solid;
        border-left-style: solid;
      }
      &:nth-child(3),&:nth-child(6){
        border-bottom-style: solid;
        border-left-style: solid;
      }
      &:nth-child(9),&:nth-child(8){
        border-left-style: solid;
      }
      >div {
        transition: opacity 0.1s;
      }
      &[data-index]{}
      &[data-is-nonfaded="true"]{
        animation: blink .3s steps(1) 3;
      }
      .cross,.circle{
        position: relative;
        will-change: transform;
        transform: translate3d(0, 0, 0);
        animation: appear 0.2s cubic-bezier(0.5, 1.8, 0.1, 1.1);
      }
      .cross{
        width: 100%;
        height: 100%;
        &:before, &:after{
          position: absolute;
          content: "";
          display: block;
          background-color: #fff;
          left: 46%;
          top: 0;
          width: 10%;
          height: 100%;
          border-radius: 0.25rem;
        }
        &:before {
          transform: rotate(-45deg);
        }
        &:after {
          transform: rotate(45deg);
        }
      }
      .circle{
        left: 16.666666667%;
        top: 16.666666667%;
        width: 66.666666667%;
        height: 66.666666667%;
        border-radius: 50%;
        border: 2vw solid #fff;
      }
    }
    &.win{
      .square {
        border-color: rgba(255, 255, 255, 0.2);
        &[data-is-nonfaded="true"]{
          .cross,
          .circle{
            opacity: 0.5;
          }
        }
        .cross,
        .circle{
          opacity: 0.2;
        }
      }
    }
    &.tie{
      opacity: 0.1;
    }
  }
  .restart{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    &.show{
      display: grid;
    }
    &.hide{
      display: none;
    }
    p{
      font-size: 1.25rem;
    }
  }
}
.score-container{
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .player{
    p {
      font-size: 1.25rem;
      &.score{
        font-size: 3rem;
        display: block;
        height: 3.5rem;
        padding: 0.75rem 0 0;
        will-change: transform;
        text-align: center;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.current-turn{
  font-size: 1.75rem;
  display: block;
  will-change: transform;
  text-align: center;
  transform: translate3d(0, 0, 0);
}

.rgb-button {
	width: 220px;
	height: 50px;
	border: none;
	outline: none;
	color: #fff;
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
	border: 2px solid #fff;
	&:before {
		content: '';
		background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
		position: absolute;
		top: -2px;
		left: -2px;
		background-size: 400%;
		z-index: -1;
		filter: blur(5px);
		width: calc(100% + 4px);
		height: calc(100% + 4px);
		animation: glowing 20s linear infinite;
		opacity: 0;
		transition: opacity .3s ease-in-out;
		border-radius: 10px;
	}
	&:active {
		color: #000;
		&:after {
			background: transparent;
		}
	}
	&:hover {
		&:before {
			opacity: 1;
		}
	}
	&:after {
		z-index: -1;
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: #111;
		left: 0;
		top: 0;
		border-radius: 10px;
	}
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
@keyframes blink {
  50% {
    visibility: hidden;
  }
}
@keyframes appear {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
  }
}
