<div class="game-container">
  <div class="game">
    <div class="tic-tac-toe-board" [ngClass]="[restartGame ? 'faded' : '', winner > 0 ? 'win' : '', tie ? 'tie' : '' ]">
      <div (click)="handleClick($event.target)" *ngFor="let value of click; let i = index" class="square" [attr.data-index]="i" [attr.data-is-nonfaded]="nonFaded.indexOf(i) > -1">
        <div [ngClass]="[ click[i] == 'x' ? 'cross' : '', click[i] == 'o' ? 'circle' : '' ] "></div>
      </div>
    </div>
    <div class="restart" [ngClass]="restartGame ? 'show' : 'hide' ">
      <p *ngIf="winner > 0">Player {{winner}} has won this round,  Would you like to </p>
      <p *ngIf="tie">This round is a Tie,  Would you like to </p>
      <button class="rgb-button" type="button" (click)="continueOrReset('continue')">Continue</button>
      <p>Or </p>
      <button class="rgb-button" type="button" (click)="continueOrReset('reset')">Reset</button>
    </div>
  </div>
  <div class="meta-container">
    <div class="score-container">
      <div class="player">
        <p class="heading">Player 1 (x)</p>
        <p class="score">{{playerOneScore}}</p>
      </div>
      <div class="player">
        <p class="heading">Tie</p>
        <p class="score">{{tieScore}}</p>
      </div>
      <div class="player">
        <p class="heading">Player 2 (o)</p>
        <p class="score">{{playerTwoScore}}</p>
      </div>
    </div>
    <div *ngIf="winner == 0" class="current-turn">It's Player {{currentPlayer}}'s Turn</div>
  </div>

</div>
